.pageContainer {
    position: absolute;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    top: 0;
}

.navListView {
    background-color: var(--bg);
    min-width: 100%;
    min-height: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
