
$titleBarHeight: 3rem;
$navMenuWidth: 20rem;


.app {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

}


.isSingleColumn {
    .app {
        .navContainer {
            position: absolute;
            left: 0;
            top: $titleBarHeight;
            width: 100vw;
            height: calc(100vh - $titleBarHeight);
            z-index: 99;
            transition: left 600ms;
            background-color: var(--bb-body-background-color);
            z-index: 15;
        }

        .titleContainer {
            z-index: 20;
            position: absolute;
            width: 100%;
        }
        .itemContainer {
            left: 0;
            z-index: 10;
            position: absolute;
            width: 100%;
            transition: left 600ms;
            top: $titleBarHeight;
            height: calc(100vh - $titleBarHeight);
        }
    }
}
.isSingleColumn.singleColumnMenuClosed {
    .navContainer {
        left: -60%;
        left: -100%;
    }
    .itemContainer {
        z-index: 17;
    }
}

.isSingleColumn.singleColumnMenuOpen {
    .navContainer {
        // z-index: 15;
    }
    .itemContainer {
        left: 60%;
        left: 100%;
    }
}

.isMultiColumn {
    .app {
        height: 100vh;

        .navContainer {
            position: absolute;
            background: #191B1B;
            background-color: #111111;
            background: #191B1B;
            top: 0;
            left: 0;
            width: $navMenuWidth;
            height: 100vh;
        }

        .titleContainer {
            position: absolute;
            background: peru;
            width: calc(100vw - $navMenuWidth);
            height: $titleBarHeight;
            left: $navMenuWidth;
            top: 0;
            z-index: 20;
        }

        .itemContainer {
            position: absolute;
            // background: lime;
            width: calc(100vw - $navMenuWidth);
            height: calc(100vh - $titleBarHeight);
            left: $navMenuWidth;
            top: $titleBarHeight;
            z-index: 10;
        }
    }
}

.modalContainer {
    position: absolute;
    z-index: 70;
}
